# macOS
**/.DS_Store

# Don't trak logs
**/*.log

# Python
**/__pycache__/
**/*.py[cod]
**/*.ipynb_checkpoints/

# R
**/*.RData
**/*.Rhistory

# Archives and outputs
**/*.gz
**/*.zip
**/*.out
**/*.o

# Env files
**/.env

# Text files (if needed)
**/*.txt

# Binary/image/media files
**/*.png
**/*.jpg
**/*.jpeg
**/*.svg
